<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <!-- Brand/Logo -->
        <a class="navbar-brand text-light mx-auto mx-lg-4" href="#">
            <h1 class="h3 mb-0">TO DO LIST</h1>
        </a>

        <!-- Toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end me-lg-5 pe-lg-5" id="navbarContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light fs-5" routerLink="/todoform">Add</a>
                </li>
                <li class="nav-item ms-lg-5">
                    <a class="nav-link text-light fs-5" routerLink="/todo-list">List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>