<nav class="navbar navbar-expand-lg navbar-light bg-primary d-flex flex-direction-row ">
    <div class=" col-6 text-center">
    <h1 class="text-primary-emphasis">TO DO LIST</h1>
</div>
    <div class="collapse navbar-collapse text-center " >
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 fs-3">
        <li class="nav-item active">
          <a class="nav-link text-primary-emphasis" routerLink="/todoform">Add </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary-emphasis" >Link</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet />
